@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<article>
    
    <p style="text-align: left; width: 100%; margin-left: 25%; font-family: sans-serif; font-size: 16px; color:#000000">
        Hello!
        <br />
        It's nice of you to take the time to get to know us better. Here are some things about us that we thought you might like to know.<br /><br />

        The objective of this site is to make shopping easy to anyone who had internet access. Today, we're present across various categories including  games kits

        Be it our path-breaking services like Cash on Delivery, a 30-day replacement policy, EMI options, free shipping - and of course the great prices that we offer, everything we do revolves around our obsession with providing our customers a memorable online shopping experience.<br />
        
        <br />Then there's our dedicated Flipkart delivery partners who work round the clock to personally make sure the packages reach on time.

        So it's no surprise that we're a favourite online shopping destination.
    </p>
</article>

