@{
    ViewBag.Title = "Career";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<article>
    
    <p style="text-align: left; width: 100%; margin-left: 25%; font-family: sans-serif; font-size: 20px; color:#b200ff">
We’re looking for future energy experts, 
strategists and leaders to join our Graduate Programme.
 Combining structured training with real responsibilities from day one, the programme aims to get you on the path to reaching your full potential. </p>

    <p style="text-align: left; width: 100%; margin-left: 25%; font-family: sans-serif; color:#0094ff; font-size: 20px;">Interested candidates can send their resume on <b>careers@onlincecric.com</b></p>
</article>


